body, th, td{

    background-color: #111111;
	color : #ffffff;
	font-family: "Consolas";
}

td{
	padding-left: 10px;
}

#artwork {

    height: 120px;
    width: 120px;
    background-color: #333333;
	border-radius:10px;
}

#name{
    text-transform: uppercase;
	font-weight: bold;
	font-size: 20px;
}

#id{
    font-size: 20px;
}

#type{
    text-transform: uppercase;
}

#shiny {

    height: 120px;
    width: 120px;
    background-color: #fffabc;
	border-radius:10px;
}

.type{
	height: 20px;
	width: auto;
}

.stat-label{
	text-align: right;
}